:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.AlertBar {
    position: relative;
    width: 100%;
    min-height: 40px;
    padding: 8px 70px 8px 20px;
    background-color: #000;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.AlertBar p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

.AlertBar span {
    margin-left: 5px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

/* Mobile */
@media (max-width: 600px) {
    .AlertBar {
        min-height: 45px;
        padding: 8px 45px 8px 15px;
    }

    .AlertBar p {
        font-size: 12px;
    }

    .AlertBar span {
        margin-left: 3px;
    }
}

/* Very small screens */
@media (max-width: 400px) {
    .AlertBar {
        padding-left: 10px;
        padding-right: 40px;
    }

    .AlertBar p {
        font-size: 11px;
    }
}
.LandingPage{
  background-color: #F2F0F1;
  height: 100vh;
}